.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.box{
  border: 1px solid black;
  background-image: linear-gradient(#ffcccc, #ffb3b3, #ff9999, #ff8080);
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 3px 0 #00000073;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title{
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  background-image: linear-gradient(#ffcccc, #ffb3b3, #ff9999, #ff8080);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 3px 0 #00000073;
}
